@using Microsoft.AspNetCore.Http

@{ 
    string appName = "Expense Tracker";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @appName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@appName</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#billDropdown" aria-controls="billDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="billDropdown">
                                    <ul class="navbar-nav">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Bills
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                                                <li class="nav-item">
                                                    <a class="nav-link text-dark" asp-controller="Bills" asp-action="Add">Add a bill</a>
                                                </li>

                                                <li class="nav-item">
                                                    <a class="nav-link text-dark" asp-controller="Bills" asp-action="AllBills">My bills</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#subscriptionDropdown" aria-controls="subscriptionDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>

                                <div class="collapse navbar-collapse" id="subscriptionDropdown">
                                    <ul class="navbar-nav">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Subscriptions
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                                                <li class="nav-item">
                                                    <a class="nav-link text-dark" asp-controller="Subscriptions" asp-action="Add">Add a subscriptions</a>
                                                </li>

                                                <li class="nav-item">
                                                    <a class="nav-link text-dark" asp-controller="Subscriptions" asp-action="AllSubscriptions">My subscriptions</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#loansDropdown" aria-controls="loansDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>

                                <div class="collapse navbar-collapse" id="loansDropdown">
                                    <ul class="navbar-nav">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link text-dark dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Loans
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                                                <li class="nav-item">
                                                    <a class="nav-link text-dark" asp-controller="Loans" asp-action="Add">Add a Loan</a>
                                                </li>

                                                <li class="nav-item">
                                                    <a class="nav-link text-dark" asp-controller="Loans" asp-action="AllLoans">My loans</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="Logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <p id="errorMessage" class="text-danger font-weight-bold">@ViewBag.error</p>
            <p id="successMessage" class="text-success font-weight-bold">@ViewBag.success</p>
            <ul id="errorList" class="text-danger"></ul>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - @appName - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="/lib/jquery/dist/jquery.js"></script>    
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/GlobalFunctions.js"></script>
    <script type="text/javascript">
        const successMessage = document.getElementById('successMessage');
        const errorMessage = document.getElementById('errorMessage')
        const errorList = document.getElementById('errorList')
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
