@model BillTrackerClient.App.Models.RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <input asp-for="FirstName" class="form-control" placeholder="@Html.DisplayNameFor(m => m.FirstName)" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="LastName" class="form-control" placeholder="@Html.DisplayNameFor(m => m.LastName)" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Email)" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="PhoneNumber" class="form-control" placeholder="@Html.DisplayNameFor(m => m.PhoneNumber)" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Password" class="form-control" placeholder="@Html.DisplayNameFor(m => m.Password)" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="ComparePassword" class="form-control" placeholder="@Html.DisplayNameFor(m => m.ComparePassword)" />
                <span asp-validation-for="ComparePassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button class="btn btn-primary" type="submit" >@ViewData["Title"]</button>
            </div>
        </form>
        <p>Don't have an account? Login <a class="link" asp-action="Login">here</a>!</p>
    </div>
</div>