@model BillTrackerClient.App.Models.LoanModel
@{
    ViewData["Title"] = "Add a loan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form formaction="post" asp-action="Add">
            <div class="form-group">
                <input asp-for="LoanName" class="form-control" placeholder="@Html.DisplayNameFor(m => m.LoanName)" />
                <span asp-validation-for="LoanName"></span>
            </div>

            <div class="form-group">
                <input asp-for="AmountDue" class="form-control" placeholder="@Html.DisplayNameFor(m => m.AmountDue)" />
                <span asp-validation-for="AmountDue"></span>
            </div>

            <div class="form-group">
                <input asp-for="RemainingAmount" class="form-control" placeholder="@Html.DisplayNameFor(m => m.RemainingAmount)" />
                <span asp-validation-for="RemainingAmount"></span>
            </div>

            <div class="form-group">
                <input asp-for="TotalAmountDue" class="form-control" placeholder="@Html.DisplayNameFor(m => m.TotalAmountDue)" />
                <span asp-validation-for="TotalAmountDue"></span>
            </div>

            <div class="form-group">
                <input asp-for="DateDue" class="form-control" placeholder="@Html.DisplayNameFor(m => m.DateDue)" />
                <span asp-validation-for="DateDue"></span>
            </div>

            <div class="form-group">
                <select class="form-control" asp-for="CompanyId" asp-items="@Model.DropDown"></select>
                <span asp-validation-for="CompanyId"></span>
            </div>

            <partial name="_CreateCompany"></partial>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">@ViewData["Title"]</button>
            </div>
        </form>
    </div>
</div>

<script>
    const amountDueText = document.getElementById('AmountDue');

    window.onload = function() {
        amountDueText.ariaPlaceholder = 'Monthly Amount Due';
    }
</script>